{% extends "shop/base.html" %}
{% block content %}

<h1>Forgotten your password?</h1>
<p>Enter your e-mail address to obtain a new password.</p>
<div class="mt-10">
	<form action="." method="post">
		{% csrf_token %}
								<input type="email" name="email" placeholder="Email address" autocomplete="email"  maxlength="254" required id="id_email"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
									class="single-input">
		<p><input type="submit" value="Send e-mail"></p>
		<input type="hidden" name="csrfmiddlewaretoken" value="AvN9uAtzi6sfMvLiGLPCPCfywPM96QGFKue6ZD47ktjPgsAGiklcnSznklXMXdTB">
</form>
{% endblock %}

