{% extends "shop/base.html" %}
{% block content %}

<p>Use the form below to change your password.</p>

 <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
 <form class="row contact_form" action="." method="post" novalidate="novalidate">
    <input type="hidden" name="csrfmiddlewaretoken" value="EC2invZATWbJWuWRgeKdmocp9K8f4o042YDumJ73fzPwtwlPaI3uckg13T3nuJs0">

		<div class="mt-10">
			<input type="password" name="old_password" autocomplete="current-password" placeholder="Old password" id="id_old_password"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Old password'" required
									class="single-input">
							</div>


	 <div class="mt-10">
								<input type="password" name="new_password1" placeholder="New password" autocomplete="new-password" id="id_new_password1" aria-autocomplete="list"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'New password'" required
									class="single-input">
							</div>

	<span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span></p>

	 <div class="mt-10">
								<input type="password" name="new_password2" placeholder="confirm new password" autocomplete="new-password" id="id_new_password2"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'confirm new password'" required
									class="single-input">
							</div>
  <button type="submit" value="submit" class="btn_3">
                                        Change
                                    </button>
<input type="hidden" name="csrfmiddlewaretoken" value="EC2invZATWbJWuWRgeKdmocp9K8f4o042YDumJ73fzPwtwlPaI3uckg13T3nuJs0">

</form>
				</div></div></div>
{% endblock %}